@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.body {
    background-color: black;
    margin: 0;
}

.header {
    position: relative;
    margin: 0;
}

.crop-image {
    text-align: center;
    margin-top: 0px;
}

.crop-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-text {
    position: absolute;
    display: flex;
    top: 0px;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.header h1 {
    position: absolute;
    top: 30%;
    color: black;
    font-family: "Open Sans", serif;
    font-size: 45px;
}

.header h2 {
    position: absolute;
    top: 50%;
    color: black;
    font-family: "Open Sans", serif;
    font-size:18px;
}

.diamond-header-border-outer {
    display: flex;
    width: 45vw;
    height: 45vw;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
}

.diamond-header-border-inner {
    width: 84%;
    height: 84%;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

.black-gradient {
    position: absolute;
    height: 60vw;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.main {
    z-index: 1;
    position: relative;
    top: 0vw;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.65;
}

input[type="date"]{
    background-color: white;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.input-select {
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.input-text {
    width: 90%;
    text-align: center;
    background-color: white;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
}

.footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .header h1 {
        font-size: 55px;
    }

    .header h2 {
        font-size: 29px;
    }

    .diamond-header-border-outer {
        width: 22vw;
        height: 22vw;
    }

    .input-select {
        width: 30%;
    }

    .input-text {
        width: 40%;
    }
 }


